// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: blue;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$pb-color-one: rgba(230, 28, 93, 0.8);
$pb-color-two: rgba(147, 0, 119, 0.8);
$pb-color-three: rgba(58, 0, 136, 0.8);
$pb-color-four: rgba(254, 189, 58, 0.8);