#img_show_top {
	width: 100%;
	margin-top: -30%;
    position: static;
    max-height: 700px;
}

#show-links {
	display: flex;
	flex-direction: row;
	padding: 1rem 3rem 0rem 3rem;
	justify-content: space-evenly;
	a {
		padding: 1rem;
		text-decoration: none
	}
}

#page-title-show {
	position: relative;
  	text-align: center;
  	color: white;
	#master-title-show {
		text-decoration: none;
		a {
			position: absolute;
			top: 60%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 50px;
			text-decoration: none;
			width: 100%;
			color: $pb-color-one
		}
		a:hover {
			color: $pb-color-two
		}
	}
}

#container-show {
	margin: 6rem;
	p {
		cursor: default;
		text-align: justify;
		padding: 1rem 1rem 1rem 1rem;
	}
	a {
		text-decoration: none
	}
	#img_show {
		width: 100%;
		height: 100%;
		overflow: hidden;
		img {
			width: 100%;
			margin-top: -15%;
			margin-bottom: -15%;
			padding: 1rem 1rem 1rem 1rem;
		}
	}
}

#show-parcours {
	color: $pb-color-three;
	display: flex;
	margin: 1rem;
	align-items: center;
	#video-show {
		width: 60%;
		cursor: pointer;
		video {
			width: 100%
		}
	}
	#show-parcours-details{
		color: black;
  		max-width: 50%;
  		margin: 0rem 2rem 0rem 2rem
	}

}


#title-show {
	padding: 2rem 1rem 2rem 1rem;
    margin: 3rem 0rem 0rem 0rem;
    border-top: 1px solid lightgrey;
}

#btn-home {
	display: flex;
    justify-content: center;
    margin-bottom: 6rem;
}

.btn-outline-prk {
	background-color: $pb-color-three;
	color: $pb-color-two;
	margin: 1rem 0rem 1rem 0rem;
	width: 150px;
	padding: 10px;
}
.btn-outline-prk:hover {
	background-color: $pb-color-one;
	color: $pb-color-four
}

@media (max-width: 1100px) {

	#page-title-show {
		#master-title-show {
			text-decoration: none;
			a {
				font-size: 32px;
			}
		}
	}

	#container-show {
		margin: 2rem;
		h2 {
			text-align: center
		}
		#title-show {
			padding: 2rem 0rem 2rem 0rem;
		}
		#img_show {
			width: 100%;
			padding: 0rem 1rem 0rem 1rem;
			img {
				padding: 1rem 0rem 1rem 0rem
			}
		}
	}

	#show-parcours {
		color: $pb-color-three;
		display: flex;
		margin: 1rem;
		align-items: center;
		flex-direction: column;
		#video-show {
			width: 80%;
			video {
				width: 100%
			}
		}
		#show-parcours-details{
			color: black;
	  		max-width: 100%;
	  		margin: 1rem;
	  		p {
				text-align: center;
			    padding: 0;
	  		}
		}

	}
}

@media (max-width: 900px) {

	#page-title-show {
		#master-title-show {
			text-decoration: none;
			a {
				font-size: 22px;
			}
		}
	}
	#img_show_top {
		width: 100%;
		margin-top: -100px;
	    position: static;
	    max-height: 400px;
	}
	#show-links {
		display: flex;
		flex-wrap: wrap;
		padding: 1rem 1rem 1rem 1rem;
		a {
			padding: 5px;
			text-decoration: none
		}
	}

	#show-parcours {
		#video-show {
			width: 100%;
			video {
				width: 100%;
				border: 1px solid $pb-color-three;
			}
		}
	}

}
