#container-show {
	margin: 6rem;
	p {
		text-align: justify;
		padding: 2rem 1rem 2rem 1rem;
	}
	a {
		text-decoration: none
	}
	#img_show {
		width: 100%;
		padding: 1rem 4rem 1rem 4rem
	}
}

#show-parcours {
	color: blue;
	display: flex;
	margin: 1rem;
	align-items: center;
	.carousel-show {
		width: 60%;
	}
	#show-parcours-details{
		color: black;
  		max-width: 50%;
  		margin: 2rem
	}

}


#title-show {
	padding: 2rem 1rem 2rem 1rem;
    margin: 3rem 0rem 0rem 0rem;
    border-top: 1px solid lightgrey;
}

#btn-home {
	display: flex;
    justify-content: center;
    margin-bottom: 6rem;
}

.btn-outline-prk {
	background-color: black;
	color: white;
	margin: 1rem 0rem 1rem 0rem;
	width: 150px;
	padding: 10px;
}
.btn-outline-prk:hover {
	background-color: black;
	color: grey
}

@media (max-width: 1100px) {
#container-show {
	margin: 2rem;
	h2 {
		text-align: center
	}
	#title-show {
		padding: 2rem 0rem 2rem 0rem;
	}
	#img_show {
		width: 100%;
		padding: 0rem 1rem 0rem 1rem
	}
}

#show-parcours {
	color: blue;
	display: flex;
	margin: 1rem;
	align-items: center;
	flex-direction: column;
	.carousel-show {
		width: 100%;
		padding: 0
	}
	#show-parcours-details{
		color: black;
  		max-width: 100%;
  		margin: 1rem;
  		p {
			text-align: center;
		    padding: 0;
  		}
	}

}
}