#page-title {
	font-size: 44px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 4rem;
    a {
    	text-decoration: none
    }
}

#map_container {
	margin: 0rem 1rem 4rem 0rem;
	height: 100%;
	width: 100%;
    display: flex;
    justify-content: center;
	.leaflet-container a {
		text-decoration: none;
		color: black;
		text-align: center;
    	display: flex;
	}
	.leaflet-container a:hover {
		color: grey
	}
	#map{
		margin-top: 3rem;
	    height: 440px;
	    width: 80%;
	    .leaflet-top, .leaflet-control-attribution {
      		display: none
    	}
	}
}


@media (max-width: 950px) {
	#map_container {
		#map{
		    height: 300px;
		}
	}
	#page-title {
		font-size: 32px
	}
}

@media (max-width: 420px) {
	#map_container {
		margin: 4rem 0rem 4rem 0rem;
		#map{
		    height: 400px;
		}
		    .leaflet-top, .leaflet-control-attribution {
      display: none
    }
	}
}

h1 {
	font-size: 45px;
	display: flex;
	justify-content: center;
	margin: 3rem
}

@media (max-width: 400px) {
	h1 {
		font-size: 25px;
		display: flex;
		justify-content: center;
		margin: 3rem
	}

}
