<div id="page-title-show">
  <%= cl_image_tag('https://res.cloudinary.com/planbidon/image/upload/v1585404353/banniere_2_ynp0d6.jpg', id: 'img_show_top') %>
  <div id="master-title-show">
    <a href="#about-testes" class="tab-underlined active" data-target="Fiche">NOUS CONTACTER</a>
  </div>
</div>

<div id="container-show">

	<div id="title-show">
		<a href="#contact-testes" class="tab-underlined active" data-target="Fiche">
			<h2>LOREM IPSUM</h2>
		</a>
	</div>

	<div id="contact-testes">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit officiis placeat sapiente est repellendus, deleniti, inventore sit expedita fugiat dolorem temporibus quam reprehenderit, ex veritatis repellat atque fuga minima illum.</p>
	</div>


	<div id="title-show">
		<a href="#contact-traces" class="tab-underlined active" data-target="Fiche">
		<h2>LOREM IPSUM</h2>
		</a>
	</div>

	<div id="contact-traces">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime inventore, ex eius est mollitia eaque, dignissimos dolore. Voluptatem, voluptatibus, laudantium doloremque quod quis voluptatum, laboriosam ut suscipit aspernatur, tempore deleniti!</p>
	</div>

	<div id="title-show">
		<a href="#contact-engages" class="tab-underlined active" data-target="Fiche">
		<h2>LOREM IPSUM</h2>
		</a>
	</div>

	<div id="contact-engages">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae laborum, unde quas magni in animi sapiente harum suscipit. Hic alias est, provident nulla magnam nisi consequatur ipsa necessitatibus, quam quaerat.</p>
	</div>
</div>

  <div id="btn-home">
    <%= link_to "ACCUEIL", root_path, class: "btn btn-outline-prk" %>
  </div>