<div>
	<%= cl_image_tag("https://res.cloudinary.com/planbidon/image/upload/v1584884442/plan_bidon_accueil_biwayz.png", id: 'img_accueil') %>
</div>

<% if user_signed_in? %>
  <div id=show-links>
    <div id="btn-home">
      <%= link_to "AJOUTER UN PARCOURS", new_parcour_path, class: "btn btn-outline-prk" %>
    </div>
  </div>
<% end %>


<div id="cardsPrk">
</div>
<div id="accueilCard"></div>

<div id="btn-home">
	<%= link_to "NOS PARCOURS", parcours_path, class: "btn btn-outline-prk" %>
</div>

<div class="parcours_details" style="display: none"><%= @parcours_details  %></div>

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
crossorigin=""></script>
<script type="text/javascript" src="https://rawgit.com/jieter/Leaflet.encoded/master/Polyline.encoded.js"></script>