<div>
	<%= cl_image_tag("https://res.cloudinary.com/dovu27lye/image/upload/v1584018580/planbidon/bandeau_pv8ge8.jpg", id: 'img_accueil') %>
</div>
<div id="cardsPrk">
</div>

<!-- test home sur parcours/index
 -->