
#cardsPrk {
  margin: 2rem;
  color: blue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

#cardsGA {
  margin: 2rem;
  color: blue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.card-category-prk-2 {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  .cards-details {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: white;
    .cards-headers {
      margin-bottom: -94px;
      z-index: 3;
      background: white;
      padding-left: 10px;
      border-bottom: 0.02px solid #DEDED0;
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    .cards-footers {
      margin-top: -33px;
      background: white;
      border-top: 0.02px solid #DEDED0;
      height: 28px;
      z-index: 3;
    }
  }
}


// Large devices (desktops, 992px and up)
@media (max-width: 1300px) {
  #cardsPrk {
    grid-template-columns: 1fr;
  }
}