
#cardsPrk {
  margin: 2rem 2rem 4rem 2rem;
  color: blue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.card-category-prk-2 {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  text-align: center;
  .cards-details {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: white;
    width: 400px;
    .cards-headers {
      z-index: 3;
      background: white;
      padding-left: 10px;
      align-items: center;
      display: flex;
      flex-direction: column;
      min-height: 250px;
    }
    .mapStrava{
      width: 350px;
      height: 300px;
      position: relative;
      align-self: center;
    }
  }
}


@media (min-width: 900px) and (max-width: 1300px) {
  #cardsPrk {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  #cardsPrk {
    grid-template-columns: 1fr;
  }
  .card-category-prk-2 .cards-details .mapStrava {
    position: relative;
  }
}