#cardsPrk {
  margin: 2rem;
  color: blue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 1200px;
  grid-gap: 3rem;
}
  .card-category-prk-2 {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    .card-details{
      display: flex;
      flex-direction: column;
      padding: 1rem;

    }
  }
