.navbar-prk {
  justify-content: space-between;
  background: white;
  z-index: 1000;
}

.navbar-prk .navbar-collapse {
  flex-grow: 0;
}

.navbar-prk .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: $pb-color-three
}


.navbar-light .navbar-nav .nav-link:hover {
  color: $pb-color-one
}