<h1>Parcours#index</h1>
<p>Find me in app/views/parcours/index.html.erb</p>

<!-- 	<div class="cards-prk">
			<% @parcours.each do |parcour| %>
				<%= link_to(parcour_path(parcour)) do %>
					<div class="cardFront">
						<div class="card-category-prk" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= parcour.photo_url %>)">
							<div id="card-details">
								<%= parcour.titre %>
							</div>
						</div>
					</div>
				<% end %>
				<% link_to(parcour_path(parcour)) do %>
					<div class="cardBack">
						<div class="card-category-prk" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= parcour.photo_url_two %>)">
							<div id="card-details">
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
		</div> -->

