<div id="page-title-show">
  <%= cl_image_tag('https://res.cloudinary.com/planbidon/image/upload/v1585404353/banniere_3_yyy93f.jpg', id: 'img_show_top') %>
  <div id="master-title-show">
    <a href="#about-testes" class="tab-underlined active" data-target="Fiche"> NOUVEAU PARCOURS</a>
  </div>
</div>

<%= render './shared/form' %>